body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
    color: #111;
}


/* HEADER */

.logo {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    padding: 10px 20px;
    background: white;
    border-radius: 12px;
    font-weight: bold;
    color: #111;
}

.menu-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 22px;
    padding: 10px;
}

.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    background: white;
    transition: 0.3s;
}

.sidebar.active {
    width: 220px;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: #111;
    text-decoration: none;
}

.sidebar a:hover {
    background: #eee;
}

.theme-btn {
    position: fixed;
    top: 15px;
    right: 20px;
    background: white;
    border-radius: 50%;
    padding: 10px;
}


/* TITLE */

.title {
    text-align: center;
    margin-top: 120px;
}


/* FORM */

.form {
    width: 420px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select,
textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
}


/* MESSAGE */

.msg {
    display: none;
    text-align: center;
    color: green;
}

